@import url("banner.css");
@import url(list-item.css);

body {
    font-family: "Monsteratt", Sans-serif;
    font-size: 100%;
    background-color: white;
    color: #111;
    width: 100vw;
    min-width: 400px;
    min-height: 200px;
    display: block;
    overflow-x: hidden;
    margin: 0;
    font-size: 16px;
  }
  
  a:link    { color: blue; text-decoration: none;      }
  a:hover   { color: blue; text-decoration: underline; }
  a:visited { color: blue;                             }
  
  h1 a { color: inherit !important}
  h2 a { color: inherit}
  h3 a { color: inherit}
  h4 a { color: inherit}
  h5 a { color: inherit}
  h6 a { color: inherit}
  
  #post-list {
      margin-bottom: 1em;
      margin-top: 1em;
  }
  
  pre {
      margin: 2em 1em 2em 4em;
  }

  #content {
    position: relative;
    top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #content > h2:first-child{
    color: white;
    width: 100%;
    background-image: linear-gradient(130deg,#296877 50%,white 100%);
    margin-top: 0px;
    text-align: center;
    padding: 50px 0px;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
  }
  

  .paginator {
    position: fixed;
    bottom: 0.5em;
    background: #ff8c42;
    padding: 1em;
    border-radius: 2em;
    margin: 0px;
  }

  .paginator a {
    color: black;
    margin: 0px 0.25em;
  }

  #contentinfo {
    display: none;
  }